:root {
    --primary-yellow: hsl(47, 88%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);
    --neutral-yellow: hsl(47,90%, 20%);

    --fs-s: 0.75rem;
    --fs-m: 1rem;
    --fs-l: 1.6rem;

    --fw-m: 500;
    --fw-l: 800;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Figtree, sans-serif;
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    background-color: var(--primary-yellow);
    color: var(--neutral-black);
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 385px;
    background-color: var(--neutral-white);
    padding: 1.325rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem var(--neutral-black);
    border: solid 0.1rem var(--neutral-black);
    margin: auto;
}

main :first-child {
    width: 100%;
    border-radius: 0.75rem;
}

h2 {
    background-color: var(--primary-yellow);
    font-size: var(--fs-m);
    letter-spacing: -0.025rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    margin: 1.25rem 0 0.9rem;
    display: inline-block;
}

h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
    margin: 0.9rem 0 1.1rem;
}

a {
    text-decoration: none;
    color: var(--neutral-black);
}
a:hover{
    color: var(--primary-yellow);
    }

.description {
    color: var(--neutral-grey);
    line-height: 1.5;
}

div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem;
}

div p {
    font-weight: var(--fw-l);
}

div img {
    max-width: 2rem;
}

footer {
    font-size: var(--fs-s);
    color: var(--neutral-grey);
}

footer a:hover {
    color: var(--neutral-yellow);
}